@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

/* ----- RESET / FORMAT ----- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

/* ----- HEADER ----- */

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.logo{
    height: 15vh;
    margin-left: 100px;
    padding-top: 10px;
}

.logo:hover{
    transform: rotate(360deg);
    transition: 1.2s;
    
}

header{
    background-color: black;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

nav a{
    padding: 10px 14px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    transition: all 400ms;
}

nav a:hover{
    color: #F8E12E;
}

.active{
    background-color: #F8E12E;
    color: black;
}

/* ----- MAIN ----- */

main{
    background-image: url(../img/fondoMDHL1.png);
    background-size: cover;
    min-height: 70vh;
    width: 100%;
}

.banner{
    height: 50vh;
    background-image: url(../img/design1_image2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.title-principal{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ecd733;
    font-size: 55px;
    text-shadow: 3px -4px #660b0b;
}

section{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title-info{
    background: black;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-info{
    width: 50rem;
    height: auto;
    margin-top: 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info{
    padding: 10px 15px;
}

.team{
    width: 30rem;
    border-radius: 50%;
}

/* ------ IMAGE SLIDER ------ */

.carrusel {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}
  
.carrusel ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 510px;
    scroll-behavior: smooth;
}
  
.carrusel-fotos {
    display: flex;
    gap: 10px;
    overflow: auto;
}
  
.carrusel-fotos img {
    background: black;
    border: 4px solid black;
    width: 300px;
    height: 200px;
    object-fit: contain;
}
  
.carrusel-menu {
    display: none;
}

/* ------ COMMON CARD ------ */

.card{
    width: 50rem;
    height: 30rem;
    border-radius: 40px;
    background-color: #cfc9811f;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.card>iframe{
    width: 50%;
    height: 100%;
    object-fit: contain;
    padding: 3px;
}

.card>div{
    width: 30%;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* ----- REGISTRATION FORM ----- */


fieldset{
    border: 0px;
    margin-top: 15px;
}

legend{
    font-weight: bold;
    padding-bottom: 5px;
}

input[type="text"]{
    border: 0px;
    border-bottom: 2px solid;
}

input[type="submit"]{
    padding: 5px 10px;
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
    color: white;
}

input[type="submit"]:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}

#firstName, #lastName{
    min-width: 36%;
}

.leading{
    padding-top: 10px;
}

fieldset#uniforms label, fieldset#positions label{
    display: inline-block;
    min-width: 25%;
}

input#address{
    display: inline-block;
    min-width: 86.7%;
}

input#city, input#zipCode{
    min-width: 43.1%;
}

input#parentName{
    display: inline-block;
    min-width: 76%;
}

#submit{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

/* ----- TABLE ----- */

.align_right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration-line: underline;
}

.italic {
    font-style: italic;
}

table {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

table a{
    text-decoration: none;
}

tr, th, td {
    padding: 8px 16px;
}

th {
    text-align: left;
}

.centered {
    text-align: center;
}

p.gap {
    display: flex;
    justify-content: space-between;
}

/* ----- LIST ----- */

dt {
    font-weight: bold;
}

dd {
    text-indent: 20px;
}

ol li {
    text-indent: 0px;
    list-style-position: inside;
}

ul li {
    text-indent: 0px;
    list-style-position: inside;
}

ul {
    margin-left: 30px;
    list-style-type: circle;
}

.space_text {
    margin: 20px 0px;
}

/* ----- FOOTER ----- */

footer{
    height: 5vh;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- MEDIA QUERY ----- */
  
@media screen and (min-width: 500px) {
    .carrusel-fotos {
      overflow: hidden;
    }
  
    .carrusel-fotos img {
      width: 500px;
      height: 400px;
    }
    .carrusel-menu {
      display: block;
    }
    .carrusel-menu img {
      box-sizing: border-box;
      width: 50px;
      height: 40px;
      border: 10px solid black;
    }
    .carrusel-menu img:hover {
      border: none;
    }
}